.DS_Store
.idea
*.log
tmp/
temp/
.env
dist/
logs/

.vscode/
*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache

# db
tdoll_db.json
map_db.json
docker-compose.yaml
*.sh